.Main{
  width: 100%;
  height: auto;
.Main_Page{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  .Ticket{
    width: 30%;
    height: 90%;
    text-decoration: none;
    .Ticket_container_1,.Ticket_container_2,.Ticket_container_3 {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 10px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      &:hover {
        border: 2px solid lightblue;
        transform: translateY(-20px);
        box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2);
      }
      .Ticket_container_matchup {
        text-align: center;
        z-index: 2;
        width: 100%;
        height: 40%;
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        color: white;

        .Ticket_container_date {
          padding: 5px;
          border: 2px solid black;
          border-radius: 10px;
          background-color: rgba(00, 00, 00, 0.5);
        }
      }
      .Learn_more{
        width: 100%;
        height:60%;
        display: flex;
        flex-wrap: wrap;
        .Ticket_container_type{
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          color: white;
          z-index: 2;
          width: 100%;
          height: 80%;
        }
        .Learn_more_link{
          text-decoration: none;
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: flex-end;
          .Learn_more_button{
            margin: 5px;
            z-index: 2;
            width: auto;
            height: auto;
            padding: 5px;
            color: black;
            background-color: aqua;
            border-radius: 10px;
            border: none;
            &:hover{
              background-color: lightblue;
            }
            &:active{
              background-color: cadetblue;
            }
          }
        }
      }
    }
    .Ticket_container_1{
      background-image: url("../../../public/tickets_photos/brazowy_los.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &::before{
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(00, 00, 00, 0.1) 0%, rgba(00, 00, 00, 1) 100%);
        border-radius: 10px;
      }
    }
    .Ticket_container_2{
      background-image: url("../../../public/tickets_photos/srebrny_jez.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &::before{
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(00, 00, 00, 0.1) 0%, rgba(00, 00, 00, 1) 100%);
        border-radius: 10px;
      }
    }
    .Ticket_container_3{
      background-image: url("../../../public/tickets_photos/zloty_jelen.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &::before{
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(00, 00, 00, 0.1) 0%, rgba(00, 00, 00, 1) 100%);
        border-radius: 10px;
      }
    }
  }
}
  .Back{
    width: 100%;
    height:100px;
    .Back_link{
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .Back_button{
        margin: 5px;
        width: 100px;
        height: 50px;
        padding: 5px;
        background-color: aqua;
        border-radius: 10px;
        border: none;
        &:hover{
          background-color: lightblue;
        }
        &:active{
          background-color: cadetblue;
        }
      }
    }
  }
}