$colormenu: #61331c;
.Menu{
  display: flex;
  flex-direction: column;
  .menuTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    color: white;
    background:linear-gradient(0deg,$colormenu,darken($colormenu,15));
    .Logo{
      width: 8rem;
      height: 8rem;
    }
    .Sponsor{
      width: 8rem;
    }
    .clubDesc{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h1{
        margin: 0.4rem;
        font-size: 2.8rem;
        font-family: "Bookman Old Style",sans-serif;
      }
      .titlesYears{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        li{
          padding: 0 0.15rem;
          font-size: 0.7rem;
          margin: 0;
        }
      }
    }
  }
  .menuBottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 0.6rem 0 0.1rem 0;
    background-color: $colormenu;
    a{
      margin: 0 2px;
      font-size: 1.2rem;
      text-decoration: none;
      background-color: $colormenu;
      color: white;
      font-weight: bold;
      padding: 0.5rem;
      border-radius: 0.4rem;
      transition: ease-in-out 0.12s;
      &:hover{
        background-color: darken($colormenu,4);
        padding: 0.4rem 0.8rem 0.6rem 0.8rem;
      }
    }
  }
}