.Table{
  width: 80%;
  border: 0.2rem solid #61331c;
  background-color: #fff;
  border-collapse: collapse;
  font-family: "Agency FB",arial,sans-serif;
  thead{
    tr{
      border-bottom: 0.02rem dotted #703d23;
      th{
        padding: 0.4rem;
      }
    }
  }
}